src/main/java/org/oscarehr/common/xml/cds/v5_0/schema/cdsd-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="cds_dt"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="cds_dt"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Names -->
  <xs:element name="FirstName" type="xs:string" />
  <xs:element name="MiddleName" type="xs:string" />
  <xs:element name="LastName" type="xs:string" />
  <xs:element name="LegalName">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Part" type="xs:string" />
              <xs:element name="PartType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LastName">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Part" type="xs:string" />
              <xs:element name="PartType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="namePurpose" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- health number -->
  <xs:element name="Number" type="xs:string" />
  <xs:element name="ProvinceCode" type="xs:string" />
  <xs:element name="Version" type="xs:string" />
  <xs:element name="ExpiryDate" type="xs:date" />

  <xs:element name="phoneNumber" type="xs:string" />

  <!-- address -->
  <xs:element name="Structured">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Line1" type="xs:string" minOccurs="0" />
        <xs:element name="Line2" type="xs:string" minOccurs="0" />
        <xs:element name="Line3" type="xs:string" minOccurs="0" />
        <xs:element name="City" type="xs:string" minOccurs="0" />
        <xs:element name="CountrySubDivisionCode" type="xs:string" minOccurs="0" />
        <xs:element name="PostalZipCode" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Contacts -->
  <xs:element name="PurposeAsEnum" type="xs:string" />
  <xs:element name="PurposeAsPlainText" type="xs:string" />

  <xs:element name="FullDate" type="xs:date" />
</xs:schema>
